





html {
  margin: 0;
  
}

body {
  line-height: 1.5;
  font-family: "Cambria Math";
  font-size: 8pt;
  color: white;
  background-color: black;
  margin:auto auto;
  width:100vw;
  overflow:hidden;
}

* {
  /* color: white; */
  box-sizing: border-box;
}




p {
  /* margin: 1rem 0; */
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  margin:0;
  margin-top: 0;
  margin-bottom: 1.0rem;
  /* color:hsl(0,10%,80%); */
  line-height:1;
  /* color: hsl(0,0%,50%); */
}

h2 {
  font-size: 2rem;
  margin:4rem 0 1rem 0;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  /* width:100%; */
  /* margin:0; */
  /* text-wrap:none; */
  margin-top: 0.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  margin:0;
  margin-top: 0.5rem;
  font-weight: 550;
}

h5 {
  font-size: 0.85rem;
  margin:0;
  margin-top: 0.5rem;
  font-weight: 500;
}

a {
  color:hsl(200,80%,50%);
  font-size: 1rem;
  text-align: center;
  /* text-decoration: none; */
}


img {
  width:100%;
  height:auto;
  object-fit: contain;
}

button {
  border: none;
  outline:none;
  overflow: hidden;  
  background-color: var(--clr_button);
  color: var(--clr_button_text);
}

button :hover {
  cursor: pointer;
}
















video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  overflow:clip;
  opacity: 1;
}


.pageContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.contContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position:relative;
  width:30rem;
  max-width:90%;
  height:100vh;
  margin-left:auto;
  margin-right:auto;
}

.linksbar {
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#logoImg {
  width:100%;
}

.socialButton {
  padding:1rem;
  /* background-color:red; */
  height: 80px;
  width: 80px;
}

.email {
  margin:3rem 0 0 0;
  font-style: italic;
}

@media (min-width: 600px) {

  .socialButton {
    padding:1rem;
    /* background-color:blue; */
    height: 5rem;
    width: 5rem;
  }

  /* .contContainer {
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position:relative;
    width:20rem;
    max-width: 100%;
    height:100vh;
  } */

}

@media (min-width: 992px) {

  .socialButton {
    padding:1rem;
    /* background-color:teal; */
    height: 5rem;
    width: 5rem;
  }

}


@media screen and (min-width: 992px) {

  .socialButton {
    padding:1rem;
    /* background-color:green; */
    height:5rem;
    width: 5rem;
  }

}



























::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 10px; */
  /* background-color:var(--bg-clr03); */
  outline:none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  /* width:1px; */
  border-radius: 1px;
  border: 8px solid rgba(0, 0, 0, 0);
  /* border-top: 20px solid rgba(0, 0, 0, 0); */
  /* border-bottom: 20px solid rgba(0, 0, 0, 0); */
  /* padding: 10rem; */
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* width: 3px; */
  /* background: #555; */
}